<h4>02 - Content Projection</h4>
<a href="https://codecraft.tv/courses/angular/components/content-projection/" target="blank">
  click for tutorial
</a> 
<fg-app-chap04-test01>
  <span class="myTitle">Testing everything</span>
  <p class="myP">
    Sit amet consectetur adipisicing elit. A molestiae accusantium dolore magni nam voluptatibus, quam dolorum
    ipsa, quo debitis alias minima eius tempora placeat. Minus in mollitia cupiditate, quidem corrupti voluptates iste similique
    magni quo temporibus amet dolorum ullam cum assumenda, repellendus inventore. Temporibus, exercitationem alias ducimus
    ratione nostrum molestiae? Cumque laboriosam sapiente, ipsa omnis doloremque, veritatis aut tempora quos officia tenetur,
    dolore esse. Sunt porro, eaque fugit adipisci reiciendis eum, ex exercitationem, doloribus excepturi necessitatibus dolorem
    facilis animi veritatis nulla. Explicabo iusto tempora incidunt dicta vel aperiam eligendi architecto ullam quae voluptatum
    labore minus facilis illum assumenda ipsum quam aliquid earum corporis, numquam exercitationem beatae odio! Itaque placeat
    mollitia sequi facere dignissimos recusandae nam, officia voluptas iusto distinctio aut earum reiciendis vel ut.
  </p>
  <span class="myButton">Click me for fun...</span>
</fg-app-chap04-test01>