<button class="btn btn-link" style="padding-left: 0" routerLink="/study">
  <h4>Study - Various Projects</h4>
</button>
<h5>10 - modal <-> tab transformer</h5>
<hr>

<div class="row bg-secondary text-white p-2">
  <div class="col-1 font-weight-bold text-right">Index</div>
  <div class="col-2 font-weight-bold">First name</div>
  <div class="col-2 font-weight-bold">Middle name</div>
  <div class="col-2 font-weight-bold">Last name</div>
  <div class="col-1 font-weight-bold">Age</div>
  <div class="col-1 font-weight-bold">Gender</div>
  <div class="col-3 font-weight-bold">Functions</div>
</div>
<div *ngFor="let friend of myFriends | slice:startItem:endItem; let index=index" class="row p-1" [ngClass]="{'bg-light': index%2 === 1}">
  <div class="col-1 text-right">{{ startItem + index + 1 }}</div>
  <div class="col-2">{{ friend.name.firstName }}</div>
  <div class="col-2">{{ friend.name.middleName }}</div>
  <div class="col-2">{{ friend.name.lastName }}</div>
  <div class="col-1">{{ friend.age }}</div>
  <div class="col-1">{{ friend.gender }}</div>
  <div class="col-3">
    <button (click)="editFriend(index)" class="btn btn-outline-success btn-sm">
      Edit
    </button>&nbsp;
    <button class="btn btn-outline-danger btn-sm">Delete</button>
  </div>
</div>
<div class="row">
  <div class="col">&nbsp;</div>
</div>
<div class="row">
  <div class="col">
    <pagination [boundaryLinks]="true" [maxSize]="5" [itemsPerPage]="numberOfFriendsListed" [totalItems]="myFriends.length"
      (pageChanged)="pageChanged($event)">
    </pagination>
  </div>
</div>


<!-- <fg-modal
  [maximizable]="true"
  [width]="640"
  [minWidth]="600"
  #editMyFriend> 

  <div 
    *ngIf="showEditModal"
    class="container app-modal-body">    
    <fg-app-new-friend-form
      [(myFriend)]="editedFriend"
      (myFriendChange)="editMyFriend.hide(); hideEdit();">  
    </fg-app-new-friend-form>
  </div>   
</fg-modal> -->

<fg-app-modal-to-tab 
  *ngIf='activateEdit'
  [controller]="'modal'"
  (close)="activateEdit=false">
  <div class="control-header">
    <h5>
      Edit friend {{ editedFriend.name.firstName }} 
      {{ editedFriend.name.lastName }}
    </h5>
  </div>
  <div class="control-body">
    <fg-app-new-friend-form
      [(myFriend)]="editedFriend"
      (myFriendChange)="hideEdit();">  
    </fg-app-new-friend-form>
  </div>
</fg-app-modal-to-tab>