<button class="btn btn-link" style="padding-left: 0" routerLink="/chap07">
  <h4>Chapter 07 - Reactive Programming with RxJS</h4>
</button>
<h5>01 - Observables & RxJS</h5>
<a href="https://codecraft.tv/courses/angular/reactive-programming-with-rxjs/observables-and-rxjs/" target="blank">
  click for tutorial
</a>
<hr>
<div class="alert alert-info">
  <strong>first observable:</strong> {{ messageObs1 }}  
</div>
<div class="alert alert-primary">
  <strong>second observable:</strong> {{ messageObs2 }}  
</div>
<div class="alert alert-secondary">
  <strong>third observable:</strong> {{ messageObs3 }}  
</div>
<div class="alert alert-warning">
  <strong>fourth observable:</strong> {{ messageObs4 }}  
</div>