<h4>Study - Various Projects</h4>
<button class="btn btn-link" routerLink="/study/01">
  01 - ng-modal 1
</button><br>
<button class="btn btn-link" routerLink="/study/02">
  02 - ng-modal 2
</button><br>
<button class="btn btn-link" routerLink="/study/03">
  03 - ng-modal 3
</button><br>
<button class="btn btn-link" routerLink="/study/04">
  04 - ng-modal 4
</button><br>
<button class="btn btn-link" routerLink="/study/05">
  05 - ngx-monaco-editor
</button><br>
<button class="btn btn-link" routerLink="/study/06">
  06 - Edit some HTML
</button><br>
<button class="btn btn-link" routerLink="/study/07">
  07 - Spreadsheet for Angular
</button><br>
<button class="btn btn-link" routerLink="/study/08">
  08 -  Data binding in Detail
</button><br>
<button class="btn btn-link" routerLink="/study/09">
  09 - 
</button><br>
<button class="btn btn-link" routerLink="/study/10">
  10 - 
</button><br>
<button class="btn btn-link" routerLink="/study/11">
  11 - 
</button><br>
<button class="btn btn-link" routerLink="/study/12">
  12 - 
</button><br>
<button class="btn btn-link" routerLink="/study/13">
  13 - 
</button><br>
<button class="btn btn-link" routerLink="/study/14">
  14 - 
</button><br>
<button class="btn btn-link" routerLink="/study/15">
  15 - 
</button><br>
<button class="btn btn-link" routerLink="/study/16">
  16 - 
</button><br>
<button class="btn btn-link" routerLink="/study/17">
  17 - 
</button><br>
<button class="btn btn-link" routerLink="/study/18">
  18 - 
</button><br>
<button class="btn btn-link" routerLink="/study/19">
  19 - 
</button><br>
<button class="btn btn-link" routerLink="/study/20">
  20 - 
</button><br>
<button class="btn btn-link" routerLink="/study/21">
  21 - 
</button><br>
<button class="btn btn-link" routerLink="/study/22">
  22 - 
</button><br>
<button class="btn btn-link" routerLink="/study/23">
  23 - 
</button><br>
<button class="btn btn-link" routerLink="/study/24">
  24 - 
</button><br>
<button class="btn btn-link" routerLink="/study/25">
  25 - 
</button><br>
