<div class="card">
  <h5 class="card-header">Test Card 1</h5>
  <div class="card-body">
    <h5 class="card-title">ViewEncapsulation.Emulated</h5>
    <p class="card-text">Amet consectetur adipisicing elit. Nihil vel minus dignissimos officiis beatae earum eaque delectus qui tempore recusandae.
      Doloremque rem consequuntur temporibus facilis, labore quasi officia id totam perferendis? Sint dolorum provident deserunt.</p>
    <button class="btn btn-primary">Do the job...</button>
  </div>
</div>

