<button class="btn btn-link" style="padding-left: 0" routerLink="/review2">
  <h4>Review 2 - Componets and Directives</h4>
</button>
<h5>01 - closeButton Directive</h5>
<a href="https://alligator.io/angular/using-renderer2/" target="blank">
  Using Renderer2 in Angular
</a>
<hr>
<div class="container">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>  

<blockquote fgAppReview2DeleteElement
  *ngFor="let quote of quotes"
  class="blockquote text-right alert alert-primary">
  <p class="mb-0">{{ quote.text }}</p>
  <footer class="blockquote-footer">
    {{ quote.author }} 
    <cite [fgAppReview2DeleteElement]="true">
      {{ quote.year }}
    </cite>
  </footer>
</blockquote>
