<button class="btn btn-link" style="padding-left: 0" routerLink="/review3">
  <h4>Review 3 - Reactive Programming and Forms</h4>
</button>
<h5>01 - Forms and forms</h5> <hr>

<form
  novalidate
  [formGroup]="messageForm"
  (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label 
      for="username" 
      class="col-md-2 col-from-label text-md-right text-left">
      Username:
    </label>
    <div class="col-md-10">
      <input
        class="form-control"
        [ngClass]="{
          'is-valid': validate('username').isValid,
          'is-invalid': invalidate('username').isInvalid
        }"
        type="text"
        id="username"
        formControlName="username"
        (keyup)="localStore('username', $event.target.value)"
        placeholder="Please enter the username...">
      <div class="valid-feedback">
        {{ validate('username').message }}
      </div>
      <div class="invalid-feedback">
        {{ invalidate('username').message }}
      </div>
    </div>    
  </div>

  <div class="form-group row">
    <label 
      for="email" 
      class="col-md-2 col-from-label text-md-right text-left">
      Email:
    </label>
    <div class="col-md-10">
      <input
        class="form-control"
        [ngClass]="{
          'is-valid': validate('email').isValid,
          'is-invalid': invalidate('email').isInvalid
        }"
        type="email"
        id="email"
        formControlName="email"
        (keyup) = "localStore('email', $event.target.value)"
        placeholder="Please enter the email...">
      <div class="valid-feedback">
        {{ validate('email').message }}
      </div>
      <div class="invalid-feedback">
        {{ invalidate('email').message }}
      </div>
    </div>    
  </div>

  <div class="form-group row">
    <label 
      for="message" 
      class="col-md-2 col-from-label text-md-right text-left">
      Message:
    </label>
    <div class="col-md-10">
      <textarea
        class="form-control"
        [ngClass]="{
          'is-valid': validate('message').isValid,
          'is-invalid': invalidate('message').isInvalid
        }"
        id="message"
        formControlName="message"
        rows="4"
        maxlength="255"
        (keyup) = "localStore('message', $event.target.value)"
        placeholder="Please enter your message..."></textarea>
      <div class="valid-feedback">
        {{ validate('message').message }}
      </div>
      <div class="invalid-feedback">
        {{ invalidate('message').message }}
      </div>
    </div>   
  </div>

  <div class="form-group row">
    <div class="col-md-2">
      &nbsp;
    </div>
    <div class="col-md-10 form-check">
      <input 
        class="form-check-input" 
        type="checkbox"
        [checked]="activateLocalStorage"
        (change)="activateLocalStorage = !activateLocalStorage"
        id="activateLocalStorage">
      <label 
        class="form-check-label normal-label"
        for="activateLocalStorage">
        Check to save intermediary data to local storage
      </label>
    </div>
  </div>

  <div class="d-none d-md-block">
    <div class="row">
      <div class="col-md-2 text-md-right text-left">
        <button 
          type="submit" 
          [disabled]="messageForm.invalid"
          class="btn btn-primary">
          Submit
        </button>
      </div>
      <div class="col-md-10">
        <button 
          type="reset"
          (click)="deleteStroage()"
          class="btn btn-danger">
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="d-md-none d-block">
      <div class="row">
        <button 
          type="submit" 
          [disabled]="messageForm.invalid"
          class="col-12 btn btn-primary">
          Submit
        </button>
      </div>
      <div class="row">
        <div class="col">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <button 
          type="reset" 
          (click)="deleteStroage()"
          class="col-12 btn btn-danger">
          Reset
        </button>
      </div>
    </div>
  
</form>

