<button class="btn btn-link" style="padding-left: 0" routerLink="/review3">
  <h4>Review 3 - Reactive Programming and Forms</h4>
</button>
<h5>01 - Forms and forms</h5> <hr>

<form
  novalidate
  [formGroup]="messageForm"
  (ngSubmit)="onSubmit()">

  <div class="form-group row">
    <label 
      for="username" 
      class="col-md-2 col-from-label">
      Username:
    </label>
    <input
      class="col-md-10 form-control"
      type="text"
      id="username"
      placeholder="Please enter the username...">
  </div>

  <div class="form-group row">
    <label 
      for="email" 
      class="col-md-2 col-from-label">
      Email:
    </label>
    <input
      class="col-md-10 form-control"
      type="email"
      id="email"
      placeholder="Please enter the email...">
  </div>

  <div class="form-group row">
    <label 
      for="message" 
      class="col-md-2 col-from-label">
      Message:
    </label>
    <textarea
      class="col-md-10 form-control"
      id="message"
      rows="4"
      maxlength="255"
      placeholder="Please enter your message..."></textarea>
  </div>

  <div class="d-none d-md-block">
    <div class="row">
      <div class="col-md-2">
        <button 
          type="submit" 
          class="btn btn-primary">
          Submit
        </button>
      </div>
      <div class="col-md-10">
        <button 
          type="reset" 
          class="btn btn-danger">
          Reset
        </button>
      </div>
    </div>
  </div>

  <div class="d-md-none d-block">
      <div class="row">
        <button 
          type="submit" 
          class="col-12 btn btn-primary">
          Submit
        </button>
      </div>
      <div class="row">
        <div class="col">
          &nbsp;
        </div>
      </div>
      <div class="row">
        <button 
          type="reset" 
          class="col-12 btn btn-danger">
          Reset
        </button>
      </div>
    </div>

  
</form>