<button class="btn btn-link" style="padding-left: 0" routerLink="/chap04">
  <h4>Chapter 04 - Components</h4>
</button>
<h5>01 - Templates, Styles & View Encapsulation</h5>
<a href="https://codecraft.tv/courses/angular/components/templates-styles-view-encapsulation/" target="blank">
  click for tutorial
</a><hr>

<fg-app-chap04-component-test1></fg-app-chap04-component-test1><br>
<fg-app-chap04-component-test2></fg-app-chap04-component-test2><br>
<fg-app-chap04-component-test3></fg-app-chap04-component-test3><br>
<fg-app-chap04-component-test4></fg-app-chap04-component-test4><br>