<button class="btn btn-link" style="padding-left: 0" routerLink="/chap06">
  <h4>Chapter 06 - Custom Directives</h4>
</button>
<h5>01 - Creating a custom directive</h5>
<a href="https://codecraft.tv/courses/angular/custom-directives/creating-a-custom-directive/" target="blank">
  click for tutorial
</a>
<hr>

<div 
  class="alert alert-info"
  fgAppChap06Test1>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
  Blanditiis pariatur itaque reprehenderit sequi laboriosam 
  dolore.
</div>