<div class="mt-3 mb-4 ml-2 mr-2">
  <h5>Parent component</h5>
  <p>
    <label for="message1">Message 1</label>
    <input 
      id="message1"
      [(ngModel)]="_service1.message"
      type="text"
      class="form-control">
  </p>
  <p>
    <label for="message2">Message 2</label>
    <input 
      id="message2"
      [(ngModel)]="_service2.message"
      type="text"
      class="form-control">
  </p>
  <p>
    <label for="message1">Message 3</label>
    <input 
      id="message3"
      [(ngModel)]="_service3.message"
      type="text"
      class="form-control">
  </p>
  <hr>
  <p>
    <strong>Message 1:</strong> 
    {{_service1.message}}
  </p>
  <p>
    <strong>Message 2:</strong>
    {{_service2.message}}
  </p>
  <p>
    <strong>Message 3:</strong>
    {{_service3.message}}
  </p>
  <hr>
  <div class="alert alert-info">
    <h5>Content child</h5>
    <ng-content></ng-content>
  </div>
  <hr>
  <div class="alert alert-success">
    <h5>View child</h5>
    <fg-app-review4-child></fg-app-review4-child>
  </div>
</div>