<button class="btn btn-link" style="padding-left: 0" routerLink="/study">
  <h4>Study - Various Projects</h4>
</button>
<h5>06 - Edit some HTML </h5>
<a href="https://medium.com/@swarnakishore/angular-safe-pipe-implementation-to-bypass-domsanitizer-stripping-out-content-c1bf0f1cc36b" target="blank">
  WARNING: sanitizing HTML stripped some content
</a>
<hr>
<div 
  class="bg-light" 
  [innerHTML]="HTMLCode">
</div>
<button 
  class="btn btn-success"
  (click)="editHTMLModal.show()">
  Edit HTML
</button>

<fg-modal 
  #editHTMLModal
  [width]="800">
  <div class="app-modal-header">
    Edit HTML
  </div> 
  <div class="app-modal-body"> 
    <ngx-monaco-editor
      [options]="editorOptions" 
      [(ngModel)]="HTMLCode">
    </ngx-monaco-editor>
  </div>
 
</fg-modal>  
