<button class="btn btn-link" style="padding-left: 0" routerLink="/chap08">
  <h4>Chapter 08 - Pipes</h4>
</button>
<h5>02 - Async Pipe</h5>
<a href="https://codecraft.tv/courses/angular/pipes/async-pipe/" target="blank">
  click for tutorial
</a>
<hr>
<div class="alert alert-info">
  <strong>Without async:</strong> {{ message1 }}
</div>

<div class="alert alert-info">
  <strong>With async:</strong> {{ (promise | async) ?  'Jane is ' + (promise | async) + ' years old.' : 'Waiting for the server...'}}
</div>