<h2>Content</h2>
<button class="btn btn-link" routerLink="/chap01">
  Chapter 01 - Quickstart 
</button><br>
<button class="btn btn-link" routerLink="/chap02">
  Chapter 02 - ES6 JavaScript & TypeScript 
</button><br>
<button class="btn btn-link" routerLink="/chap04">
  Chapter 04 - Components 
</button><br>
<button class="btn btn-link" routerLink="/chap05">
  Chapter 05 - Built-in Directives  
</button><br>
<button class="btn btn-link" routerLink="/chap06">
  Chapter 06 - Custom Directives
</button><br>
<button class="btn btn-link" routerLink="/chap07">
  Chapter 07 - Reactive Programming with RxJS
</button><br>
<button class="btn btn-link" routerLink="/chap08">
  Chapter 08 - Pipes
</button><br>
<button class="btn btn-link" routerLink="/chap09">
  Chapter 09 - Forms
</button><br>
<button class="btn btn-link" routerLink="/review1">
  Review 1 - TypeScript
</button><br>
<button class="btn btn-link" routerLink="/review2">
  Review 2 - Components and Directives
</button><br>
<button class="btn btn-link" routerLink="/review3">
  Review 3 - Reactive Programming and Forms
</button>