<h4>Chapter 02 - ES6 JavaScript & TypeScript</h4>
<button class="btn btn-link" routerLink="/chap02/subchap03">
  03 - Destructuring
</button><br>
<button class="btn btn-link" routerLink="/chap02/subchap04">
  04 - for ... of ...
</button><br>
<button class="btn btn-link" routerLink="/chap02/subchap06">
  06 - Promises
</button><br>
<button class="btn btn-link" routerLink="/chap02/subchap07">
  07 - Classes
</button><br>
<button class="btn btn-link" routerLink="/chap02/subchap08">
  08 - Decorators
</button><br>
<button class="btn btn-link" routerLink="/chap02/subchap09">
  09 - Modules
</button>
