<h4>Chapter 12 - Routing </h4>
<button class="btn btn-link" routerLink="/chap12/subchap01">
  01 - 
</button><br>
<button class="btn btn-link" routerLink="/chap12/subchap02">
  02 - 
</button><br>
<button class="btn btn-link" routerLink="/chap12/subchap03">
  03 - 
</button><br>
<button class="btn btn-link" routerLink="/chap12/subchap04">
  04 - 
</button><br>
<button class="btn btn-link" routerLink="/chap12/subchap05">
  05 - 
</button><br>
<button class="btn btn-link" routerLink="/chap12/subchap06">
  06 - 
</button>