<button class="btn btn-link" style="padding-left: 0" routerLink="/chap05">
  <h4>Chapter 05 - Built-in Directives </h4>
</button>
<h5>02 - NgIf & NgSwitch</h5>
<a href="https://codecraft.tv/courses/angular/built-in-directives/ngif-and-ngswitch/" target="blank">
  click for tutorial
</a><hr>

<div class="container">
  <div class="row alert alert-info">
    <div class="col-1">
      <b>index</b>
    </div>
    <div class="col">
      <b>first name</b>
    </div>
    <div class="col">
      <b>last name</b>
    </div>
    <div class="col">
      <b>gender</b>
    </div>
    <div class="col">
      <b>age</b>  
    </div>  
    <div class="col-1">
      <b>country</b>
    </div>  
  </div>
  <div *ngFor="let person of persons;let index = index">
    <div 
    class="row"
    [class.alert-success]="person.country === 'RO'"
    [ngClass]="{
      'alert-warning': person.country === 'UK',
      'alert-secondary': person.country === 'US'
    }"
    *ngIf="!hideNations[person.country.toLowerCase()]">
    <div class="col-1 text-right">
      {{ index + 1 }}
    </div>
    <div class="col">
      {{ person.firstName }}
    </div>
    <div class="col">
      {{ person.lastName }}
    </div>
    <div class="col">
      {{ person.sex }}
    </div>
    <div class="col">
      {{ person.age }}
    </div>
    <div class="col-1">
      {{ person.country }}
    </div>
  </div>
  </div>  
</div><br>
<button 
  class="btn btn-success"
  (click)="hideNations.ro = !hideNations.ro">
  {{ hideNations.ro ? 'show Romanians...' : 'hide Romanians...' }}
</button>&nbsp;
<button 
  (click)="hideNations.uk = !hideNations.uk"
  class="btn btn-warning">
  {{ hideNations.uk ? 'show UK people...' : 'hide UK people...' }}
</button>&nbsp;
<button 
  (click)="hideNations.us = !hideNations.us"
  class="btn btn-secondary">
  {{ hideNations.us ? 'show Americans...' : 'hide Americans...' }}
</button><hr>
<!-- --------------------------------------------------- -->
<div class="alert alert-danger">
    NOTE! &lt;span *ngSwitchCase="'US'"&gt; won't work when hiding,
    view code...    
</div>

<div class="container">
  <div class="row text-center">
    <div 
      class="col alert alert-success"
      *ngIf="!hideNations.ro">
      <b>Romanians</b>
    </div>
    <div 
      class="col alert alert-warning"
      *ngIf="!hideNations.uk">
      <b>UK people</b>
    </div>
    <div 
      class="col alert alert-secondary"
      *ngIf="!hideNations.us">
      <b>Americans</b>
    </div>
  </div>
  <div 
    class="row text-right"
    *ngFor="let person of persons"
    [ngSwitch]="person.country">  
    <div 
      class="col alert-success"
      *ngIf="!hideNations.ro">
      <span *ngSwitchCase="'RO'">
        {{ person.firstName }}&nbsp;
        {{ person.lastName }}
      </span>
    </div>
    <div 
      class="col alert-warning"
      *ngIf="!hideNations.uk">
      <span *ngSwitchCase="'UK'">
        {{ person.firstName }}&nbsp;
        {{ person.lastName }}
      </span>
    </div>
    <div 
      class="col alert-secondary"
      *ngIf="!hideNations.us">
      <span *ngSwitchCase="'US'">
      <!-- 
        if we use <span *ngSwitchDefault> it doesn't work... 
        i don't know why 
      -->
        {{ person.firstName }}&nbsp;
        {{ person.lastName }}
      </span>
    </div>
  </div>
</div>

